<?xml version="1.0"?>
<!--
/**
 * Provider: Meetanshi.
 * Package: Meetanshi VatExempt
 * Support: support@meetanshi.com (https://meetanshi.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="meetanshi_vatexempt_checkcout_page" instance="Meetanshi\VatExempt\Observer\CheckOutCartObserver" />
    </event>
</config>