<?xml version="1.0"?>
<!-- /**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_RewardSystem
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       	<add id="Webkul_RewardSystem::rewardsystem" title="Reward System" module="Webkul_RewardSystem" sortOrder="10" resource="Webkul_RewardSystem::rewardsystem"/>
       	<add id="Webkul_RewardSystem::product" title="Manage Reward Points on Product" module="Webkul_RewardSystem" sortOrder="1" parent="Webkul_RewardSystem::rewardsystem" action="rewardsystem/product" resource="Webkul_RewardSystem::product"/>
       	<add id="Webkul_RewardSystem::category" title="Manage Reward Points on Category" module="Webkul_RewardSystem" sortOrder="2" parent="Webkul_RewardSystem::rewardsystem" action="rewardsystem/category" resource="Webkul_RewardSystem::category"/>
        <add id="Webkul_Walletsystem::cartrules" title="Manage Reward Points on Cart" module="Webkul_RewardSystem" sortOrder="3" parent="Webkul_RewardSystem::rewardsystem" action="rewardsystem/cart" resource="Webkul_RewardSystem::cartrules"/>
        <add id="Webkul_Walletsystem::attribute" title="Manage Reward Points on Attribute" module="Webkul_RewardSystem" sortOrder="4" parent="Webkul_RewardSystem::rewardsystem" action="rewardsystem/attribute" resource="Webkul_RewardSystem::attribute"/>
        <add id="Webkul_RewardSystem::reward" title="Reward System Details" module="Webkul_RewardSystem" sortOrder="5" parent="Webkul_RewardSystem::rewardsystem" action="rewardsystem/reward" resource="Webkul_RewardSystem::reward"/>
    </menu>
</config>
