<?xml version="1.0"?>
<!-->
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_AdvancedLayeredNavigation
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\LayeredNavigation\Block\Navigation\FilterRenderer" type="Webkul\AdvancedLayeredNavigation\Block\FilterRenderer" />
    <type name="Webkul\AdvancedLayeredNavigation\Block\FilterRenderer">
        <plugin name="swatches_layered_renderer" type="Magento\Swatches\Model\Plugin\FilterRenderer" sortOrder="1" />
    </type>
    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Price</item>
                <item name="category" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="searchFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Price</item>
                <item name="category" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\ResourceModel\Fulltext\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Layer\Resolver">
        <arguments>
            <argument name="layersPool" xsi:type="array">
                <item name="category" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\Layer\Category</item>
            </argument>
        </arguments>
    </type>    
    <preference for="Magento\Swatches\Block\LayeredNavigation\RenderLayered" type="Webkul\AdvancedLayeredNavigation\Block\RenderLayered" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Price" type="Webkul\AdvancedLayeredNavigation\Model\Layer\Price" />
    <type name="Magento\Swatches\Block\LayeredNavigation\RenderLayered">
        <plugin name="Webkul_AdvancedLayeredNavigation::afterGetSwatchData"
                type="Webkul\AdvancedLayeredNavigation\Plugin\RenderLayered"
                sortOrder="10" />
    </type>

    <!-- override attributes grid -->
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Attribute\Grid" type="Webkul\AdvancedLayeredNavigation\Block\Adminhtml\Attributes\Grid" />

    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="filterlist"
                type="Webkul\AdvancedLayeredNavigation\Plugin\Model\Layer\FilterList"
                sortOrder="0" />
    </type>

    <!-- carousel filter grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="advancedlayerednavigation_carousel_filter_data_source" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\ResourceModel\CarouselFilterAttributes\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Webkul\AdvancedLayeredNavigation\Model\ResourceModel\CarouselFilterAttributes\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_layered_carousel_attributes</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\AdvancedLayeredNavigation\Model\ResourceModel\CarouselFilterAttributes</argument>
        </arguments>
    </virtualType>

    <type name="Webkul\AdvancedLayeredNavigation\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\AdvancedLayeredNavigation\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Webkul\AdvancedLayeredNavigation\Logger\Handler</item>
            </argument>
        </arguments>
    </type>   

    <preference for="Webkul\AdvancedLayeredNavigation\Api\Data\CarouselFilterInterface" type="Webkul\AdvancedLayeredNavigation\Model\CarouselFilter" />
    <preference for="Webkul\AdvancedLayeredNavigation\Api\CarouselFilterRepositoryInterface" type="Webkul\AdvancedLayeredNavigation\Model\CarouselFilterRepository" />

    <preference for="Webkul\AdvancedLayeredNavigation\Api\Data\CarouselFilterAttributesInterface" type="Webkul\AdvancedLayeredNavigation\Model\CarouselFilterAttributes" />
    <preference for="Webkul\AdvancedLayeredNavigation\Api\CarouselFilterAttributesRepositoryInterface" type="Webkul\AdvancedLayeredNavigation\Model\CarouselFilterAttributesRepository" />

</config>
