<?xml version="1.0"?>
<!--
 /**
  * Webkul GoogleShoppingFeed Module xml
  * @category  Webkul
  * @package   Webkul_GoogleShoppingFeed
  * @author    Webkul
  * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
  * @license   https://store.webkul.com/license.html
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googleshoppingfeed>
            <default_config>
                <category><![CDATA[Apparel & Accessories]]></category>
                <weight_unit><![CDATA[grams]]></weight_unit>
                <age_group><![CDATA[adult]]></age_group>
                <for_gender><![CDATA[male]]></for_gender>
                <condition><![CDATA[new]]></condition>
                <tax_apply><![CDATA[global]]></tax_apply>
                <tax_on_ship><![CDATA[0]]></tax_on_ship>
            </default_config>
        </googleshoppingfeed>
    </default>
</config>
