<?xml version="1.0"?>
<!--
/**
 * @category   Webkul
 * @package    Webkul_GoogleShoppingFeed
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_GoogleShoppingFeed::manager" title="Google Shopping Feed" module="Webkul_GoogleShoppingFeed" sortOrder="10"
            resource="Webkul_GoogleShoppingFeed::manager"/>
        <add id="Webkul_GoogleShoppingFeed::maped_attribute" title="Map Attribute" module="Webkul_GoogleShoppingFeed" sortOrder="20"
            parent="Webkul_GoogleShoppingFeed::manager" action="googleshoppingfeed/attributemap/index" resource="Webkul_GoogleShoppingFeed::maped_attribute"/>
        <add id="Webkul_GoogleShoppingFeed::maped_category" title="Map Category" module="Webkul_GoogleShoppingFeed" sortOrder="30"
            parent="Webkul_GoogleShoppingFeed::manager" action="googleshoppingfeed/category/index" resource="Webkul_GoogleShoppingFeed::maped_category"/>
        <add id="Webkul_GoogleShoppingFeed::exported_pro" title="Google Feed Products" module="Webkul_GoogleShoppingFeed" sortOrder="40"
            parent="Webkul_GoogleShoppingFeed::manager" action="googleshoppingfeed/products/index" resource="Webkul_GoogleShoppingFeed::exported_pro"/>
        <add id="Webkul_GoogleShoppingFeed::config_googleshoppingfeed" title="Configuration" module="Webkul_GoogleShoppingFeed" sortOrder="50"
            parent="Webkul_GoogleShoppingFeed::manager" action="adminhtml/system_config/edit/section/googleshoppingfeed" resource="Webkul_GoogleShoppingFeed::config_googleshoppingfeed"/>
    </menu>
</config>
