<?xml version="1.0"?>
<!--
/**
 * @category   Webkul
 * @package    Webkul_GoogleShoppingFeed
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="googleshoppingfeed" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Shopping Feed</label>
            <tab>webkul</tab>
            <resource>Webkul_GoogleShoppingFeed::config_googleshoppingfeed</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="oauth_consumer_key" translate="label comment" sortOrder="1" type="obscure" showInDefault="1" >
                    <label>Oauth Consumer Key</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="oauth_consumer_secret" translate="label comment" sortOrder="2" type="obscure" showInDefault="1" >
                    <label>Oauth Consumer Secret</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="oauthbutton" translate="label" sortOrder="3" showInDefault="1">
                    <frontend_model>Webkul\GoogleShoppingFeed\Block\Adminhtml\System\Config\Form\AuthenticateUser</frontend_model>
                </field>
                <field id="merchant_id" translate="label comment" sortOrder="6" type="text" showInDefault="1" >
                    <label>Google Merchant Id</label>
                    <validate>validate-greater-than-zero</validate>
                    <comment>Merchant id of account in which you want to export shopping feed.</comment>
                </field>
            </group>
            <group id="default_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Configurations</label>
                <field id="category" translate="label comment" sortOrder="1" type="text" showInDefault="1" >
                    <label>Default Category</label>
                    <comment><![CDATA[Google's category of the item (see <a target="_blank" href="https://support.google.com/merchants/answer/6324436"> Google product taxonomy</a>).]]></comment>
                </field>
                <field id="weight_unit" translate="label comment" sortOrder="2" type="text" showInDefault="1" >
                    <label>Weight Unit</label>
                    <comment>Enter weight unit which you are using in your store. Product feed in Google shop with this unit.</comment>
                </field>
                <field id="age_group" translate="label comment" sortOrder="3" type="select" showInDefault="1" >
                    <label>Age Group</label>
                    <source_model>Webkul\GoogleShoppingFeed\Model\Config\Source\AgeGroupList</source_model>
                    <comment>Target age group of the item on Google Shopping Feed. </comment>
                </field>
                <field id="for_gender" translate="label comment" sortOrder="4" type="select" showInDefault="1" >
                    <label>Product avilable for</label>
                    <source_model>Webkul\GoogleShoppingFeed\Model\Config\Source\GenderOptions</source_model>
                    <comment>Target gender of the item on Google Shopping Feed. </comment>
                </field>
                <field id="condition" translate="label comment" sortOrder="5" type="select" showInDefault="1" >
                    <label>Product Condition</label>
                    <source_model>Webkul\GoogleShoppingFeed\Model\Config\Source\ConditionOptions</source_model>
                    <comment>Condition or state of the item on Google Shopping Feed. </comment>
                </field>
                <field id="tax_on_ship" translate="label comment" sortOrder="6" type="select" showInDefault="1" >
                    <label>Tax apply on ship</label>
                    <source_model>Magento\Eav\Model\Entity\Attribute\Source\Boolean</source_model>
                    <comment>Condition or state of the item on Google Shopping Feed.</comment>
                </field>
                <field id="tax_apply" translate="label comment" sortOrder="7" type="select" showInDefault="1" >
                    <label>Shipping Tax apply as</label>
                    <depends>
                        <field id="tax_on_ship"><![CDATA[1]]></field>
                    </depends>
                    <source_model>Webkul\GoogleShoppingFeed\Model\Config\Source\OptionsForTax</source_model>
                </field>
                <field id="tax_rate" translate="label comment" sortOrder="8" type="text" showInDefault="1" >
                    <label>Tax Rate</label>
                    <depends>
                        <field id="tax_on_ship"><![CDATA[1]]></field>
                        <field id="tax_apply"><![CDATA[global]]></field>
                    </depends>
                    <validate>validate-greater-than-zero</validate>
                    <comment>Tax Rate percentage (%) of the item on Google Shopping Feed.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
