<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="meetanshi" translate="label" class="meetanshi" sortOrder="100">
            <label></label>
        </tab>
        <section id="vatexempt" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>VAT Exemption</label>
            <tab>meetanshi</tab>
            <resource>Meetanshi_VatExempt::vatexempt_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>VAT Exemption</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="declared_note" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Declaration Notice for Backend</label>
                    <comment><![CDATA[You can make use of system variables like {customer_name}, {reasone_of}]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="customer_notes" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Notice for Frontend</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="accept" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Terms and Conditions Agreement</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="login" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Login Require</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
